:root{
    --bg-gradient: linear-gradient(top top left, #5E3D52, #457CA3, #185D7A);
    --primary: ##583BBF;
    --black: #05070D;
    --dark-green: #103740;
    --light-green: ##03A6A6;
    --orange: #D93D04;
}


.BarsIcon{
    display: none;
    cursor: auto;
}

@media (max-width:532px){
    #nav-links{
        display: none;
    }

    #connect-btn{
        display: none;
    }

    .BarsIcon{
        display: block;
    }

    nav{
        justify-content: space-between;
        align-items: center;
    }
}


.nav-bar{
    background: linear-gradient(to top left, #05070D, #103740);
}
